version: '3.4'

services:
  ggstat-db-init:
    image: ${DOCKER_REGISTRY-}ggstatdbinit
    build:
      context: .
      dockerfile: src/GGStat-Backend.ImporterService/Dockerfile
    volumes:
      - ./db:/data:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5432;Database=GGStatDB;Username=postgres;Password=maxim12345
      - PLAYER_INFO_CSV=/data/players_with_countries.csv

  ggstat-backend-web-api:
    image: ${DOCKER_REGISTRY-}ggstatbackendwebapi
    build:
      context: .
      dockerfile: src/GGStat-Web-Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Host=host.docker.internal;Port=5432;Database=GGStatDB;Username=postgres;Password=maxim12345
      - PLAYER_INFO_CSV=/data/players_with_countries.csv
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - ./db:/data:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
